<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4)">
  <div class="container">
    <h1>Cocktails, mocktails. Fancy, schmancy!</h1>
    <p>Discover our wide selection of yummy treats.</p>
  </div>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
      <div class="card-category">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
      <% end %>

</div>


  <%= link_to "Create your cocktail", new_cocktail_path(@cocktail), class: 'btn btn-primary' %>

