<div class=form>
  <h1>Create your cocktail</h1>
  <p>Please. Be creative.</p>
<%= form_for @cocktail do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>


  <%= f.submit %>
  <% end %>
</div>
