<div class=form>
  <h1>Create your cocktail</h1>
  <p>Please. Be creative.</p>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>


  <%= f.submit %>
  <% end %>
</div>
