.navbar-cocktail {
  justify-content: space-between;
  background: #E2C6B3;
  opacity: 0.7;
}

.navbar-cocktail .navbar-collapse {
  flex-grow: 0;
}

.navbar-cocktail .navbar-brand img {
  width: 40px;
}

